<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="ShareKhan Application Test Automation Test Suite">
	
	<test name="ShareKhan App Test cases">

		<classes>
			<class name="com.sk.testScripts.TC_001_LaunchingPageTest"></class>
			<class name="com.sk.testScripts.TC_002_HomePageTest"></class>

		</classes>
	
	</test> <!-- Test -->

</suite> <!-- Suite -->
